{{#section 'head'}}
	<title>{{{title}}}</title>

  <!--<link rel="stylesheet" type="text/css" href="/css/blog.css">-->
{{/section}}

<div class="center">
  <h0>Blog</h0>
</div>
<div>

</div>


<!--<script src='/js/projects.js' type="text/javascript"></script>-->
