{{#section 'head'}}
	<title>{{{title}}}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <script src="https://use.fontawesome.com/469eaf28ca.js"></script>
{{/section}}
<div id="_wrapper">
  <div id="_sidebar">
    <div id="_sidebar_photo">
      <div id="_sidebar_picture">
      </div>
    </div>
    <div id="_sidebar_name">
      Brady Madden
    </div>
    <div id="_sidebar_links">
      <a href="mailto:bhm3mr@virginia.edu"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      <a href="https://facebook.com/brady.madden.98/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://github.com/bradymadden97/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://linkedin.com/in/bradyhmadden/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

    </div>
    <div id="_sidebar_tabs">

    </div>
  </div>
  <div id="_main">
    Hello world
  </div>
</div>
