{{#section 'head'}}
	<title>{{{title}}}</title>
	<link rel="stylesheet" type="text/css" href="/css/me.css">
{{/section}}

<h1 class="center">Hi, I'm Brady.</h1>
<div style="margin-bottom: 30px;">
	<div class="row">
		<div class="col autocursor fadeIn">
			<div class="box-img box-img-up" id="uva-img">
				<img draggable=False src="https://s3.amazonaws.com/bhm-mysite/me/uva.jpg" alt="UVA">
			</div>
			<div class="box box-down" data-img="uva">
				<p>
					I'm a third-year<sup class="superscript"><a id="wikipedia-link" data-link="wikipedia-third-year" target="_blank" href='https://en.wikipedia.org/wiki/University_of_Virginia#Student_life'>^</a></sup> student at the <span id="uva-highlight" class="highlight">University of Virginia</span> studying Computer Science and Engineering Business in the Engineering School.
				</p>
			</div>

		</div>

		<div class="col autocursor fadeIn">
			<div class="box-img box-img-up" id="cope-img">
				<img draggable=False src="https://s3.amazonaws.com/bhm-mysite/me/copenhagen.png" alt="Copenhagen Map">
			</div>
			<div class="box box-down" data-img="cope">
				<p>
					This semester I'm four thousand miles away, studying in <span id="cope-highlight" class="highlight">Copenhagen, Denmark</span> and learning to travel around Europe.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col autocursor fadeIn">
			<div class="box-img box-img-up" id="fb-img">
				<img draggable=False src="https://s3.amazonaws.com/bhm-mysite/me/fb.jpg" alt="FB">
			</div>
			<div class="box box-down" data-img="fb">
				<p>
					Web development, user experience, and algorithms are some areas I love to explore. Following this semester, I'll be in Menlo Park, California as a Software Engineering Intern at <span id="fb-highlight" class="highlight">Facebook</span>.
				</p>
			</div>
		</div>
		<div class="col autocursor fadeIn">
			<div class="box-img box-img-up-special" id="office-img">
				<img draggable=False src="https://s3.amazonaws.com/bhm-mysite/me/office.png" alt="Office">
			</div>
			<div class="box box-down-middle break" data-img-special="office">
				<p>
					In my free time I might be found re-watching <span id="office-highlight" class="highlight">the Office</span>, at the gym, or cheering on 'Hoos basketball.
				</p>
			</div>
			<div class="box box-up">
				<p>
					I built this website from scratch and made it all-screen friendly. ( Read: <i>responsive</i> )
				</p>
				<p>
					Continue on to see more of what I'm up to!
				</p>
			</div>
			<div class="box-links-down">
				<a class="nextto hvr-grow" href="/blog">Blog</a>
				<a class="nextto hvr-grow" href="/projects">Projects</a>
			</div>
		</div>
	</div>
	<div class="row" style="text-align:center">
		<div class="noselect backtotop" id="backtotop">
			<div><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
		</div>
	</div>

</div>


<script src='/js/me.js' type="text/javascript"></script>
