{{#section 'head'}}
	<title>{{{title}}}</title>

  <link rel="stylesheet" type="text/css" href="/css/projects.css">
{{/section}}

<div class="center">
  <h0>Projects</h0>
</div>
<div>
	<div class="row">
		<div class="year noselect">
			<div>2017</div>
		</div>
	</div>
	<div class="row">
		<div class="year-line"></div>
		<div class="card-holder">
			<div class="card fadeIn">
				<div class="card_image_container">
		      <img class="darkborder" src="https://s3.amazonaws.com/bhm-mysite/zephair.jpg" alt="Zephair" width="100%" draggable="False"/>
		    </div>
	    	<div class="card_column">
		    <div class="card_title">
					<a href="/projects/zephair"><div>Zephair E-Commerce</div></a>
		    </div>
	      <div class="card_tags">
	        <span class="card_tag">PHP</span>
	        <span class="card_tag">Bitcoin</span>
	        <span class="card_tag">Web design</span>
	      </div>
	      <div class="card_description">
	        <p class="card_description_paragraph">
	          The Zephair E-commerce website was a project for one of my courses at the University of Virginia, CS 4753: E-Commerce Technologies. My team built an online store for our company's product - canned air - that allowed customers to register, browse the store, add items to cart, pay with bitcoin, leave reviews, and more.
	        </p>
	        <p class="right">
	          <a href='/projects/zephair'>Read more...</a>
	        </p>
	      </div>
	    </div>
	  </div>
		</div>
	</div>
	<div class="row">
		<div class="year-line"></div>
		<div class="card-holder">
			<div class="card fadeIn">
				<div class="card_image_container">
					<img src="https://s3.amazonaws.com/bhm-mysite/goquads.jpg" alt="Go Quads Zebra" width="100%" draggable="False"/>
				</div>
				<div class="card_column">
					<div class="card_title">
						<a href="/projects/go-quads"><div>Go-Quads</div></a>
					</div>
					<div class="card_tags">
						<span class="card_tag">Go</span>
						<span class="card_tag">Quad heaps</span>
						<span class="card_tag">Art</span>
					</div>
					<div class="card_description">
						<p class="card_description_paragraph">
							Go-Quads was my first experiment with the Go language and algorithmic art. A picture is split into four quadrants, and the average pixel color is computed for each quad. The quad with the largest error between the actual pixels and average color is split again, and pushed onto the heap. Stylistic parameters such as background colors or circular quads can be set.
						</p>
						<p class="right">
							<a href='/projects/go-quads'>Read more...</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="year noselect">
			<div>2016</div>
		</div>
	</div>
	<div class="row">
		<div class="year-line"></div>
		<div class="card-holder">
			<div class="card fadeIn">
				<div class="card_image_container">
					<img src="https://s3.amazonaws.com/bhm-mysite/clockbuddy.jpg" alt="Clock Buddies" width="100%" draggable="False"/>
				</div>
				<div class="card_column">
					<div class="card_title">
						<a href="/projects/clock-buddies"><div>Clock Buddies Generator</div></a>
					</div>
					<div class="card_tags">
						<span class="card_tag">Algorithms</span>
						<span class="card_tag">Education</span>
						<span class="card_tag">Web</span>
					</div>
					<div class="card_description">
						<p class="card_description_paragraph">
							The clock buddies generator is a tool built for teachers to organize their class for partner activities, in order to encourage students to work with many different peers. Clock buddies pair students with a different partner corresponding to each hour on the clock, and this tool allows the teacher to customize the number of students, and number of hours.
						</p>
						<p class="right">
							<a href='/projects/clock-buddies'>Read more...</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="year noselect backtotop" id="backtotop">
			<div><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
		</div>
	</div>
</div>


<script src='/js/projects.js' type="text/javascript"></script>
