{{#section 'head'}}
	<title>{{{title}}}</title>

  <link rel="stylesheet" type="text/css" href="/css/projects.css">
{{/section}}

<div class="center">
  <h0>Projects</h0>
</div>
<div>
  <div class="year">
    <span>2017</span>
  </div>
  <div class="card">
    <div class="card_column">
      <div class="card_title">
        Zephair E-Commerce
      </div>
      <div class="card_tags">
        <span class="card_tag">PHP</span>
        <span class="card_tag">Bitcoin</span>
        <span class="card_tag">Web design</span>
      </div>
      <div class="card_description">
        <p class="card_description_paragraph">
          The Zephair E-commerce website was a project for one of my courses at the University of Virginia, CS 4753: E-Commerce Technologies. My team built an online store for our company's product - canned air - that allowed customers to register, browse the store, add items to cart, pay with bitcoin, leave reviews, and more.
        </p>
        <p class="right">
          <a href='/projects/zephair'>Read more...</a>
        </p>
      </div>
    </div>
    <div class="card_image_container">
      <img class="darkborder" src="https://s3.amazonaws.com/bhm-mysite/zephair.jpg" alt="Go Quads Zebra" width="100%" draggable="False"/>
    </div>
  </div>
  <div class="card">
    <div class="card_column">
      <div class="card_title">
        Go-Quads
      </div>
      <div class="card_tags">
        <span class="card_tag">Go</span>
        <span class="card_tag">Quad heaps</span>
        <span class="card_tag">Art</span>
      </div>
      <div class="card_description">
        <p class="card_description_paragraph">
          Go-Quads was my first experiment with the Go language and algorithmic art. A picture is split into four quadrants, and the average pixel color is computed for each quad. The quad with the largest error between the actual pixels and average color is split again, and pushed onto the heap. Stylistic parameters such as background colors or circular quads can be set.
        </p>
        <p class="right">
          <a href='/projects/go-quads'>Read more...</a>
        </p>
      </div>
    </div>
    <div class="card_image_container">
      <img src="https://s3.amazonaws.com/bhm-mysite/goquads.jpg" alt="Go Quads Zebra" width="100%" draggable="False"/>
    </div>
  </div>
  <div class="year">
    <span>2016</span>
  </div>
</div>
