body{
  font-family: 'Nunito', 'sans-serif';
  margin: 0px;
}
a{
  color: black;
  text-decoration: none;
}
p{
  margin-top: 5px;
  margin-bottom: 0px;
}
.center{
  text-align:center;
}
.right{
  text-align:right;
}
.superscript{
  font-size: 10px;
}
.superscript a {
  color: blue;
}
.autocursor{
  cursor: default;
}
h0{
  font-size:3em;
}
hr{
  border: 1px solid rgba(232, 151, 64, 1);
  width: 75%;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#_wrapper{
  overflow: hidden;
  margin: 0px;
  height: 100vh;
  display: flex;
}
#_sidebar{
  width:250px;
  height: 100%;
  background-color: rgba(232, 151, 64, 1);
  transition: opacity 0.7s ease;
  opacity: 0.7
}
#_sidebar:hover{
  opacity: 1;
}
#_sidebar div{
  text-align: center;
}
#_sidebar_picture{
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  background: url("https://s3.amazonaws.com/bhm-mysite/main/brady190x190.jpg") no-repeat;
  background-size: cover;
  width: 190px;
  height: 190px;
  min-height: 190px;
  border-radius: 50%;
}
#_sidebar_name{
  margin-top: 20px;
  font-size: 2em;
}
#_sidebar_links{
  margin-top: 10px;
}
#_sidebar_links i{
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
#_sidebar_tabs{
  margin-top: 20px;
}
#_sidebar_tabs a div{
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
#_sidebar_tabs .active{
  background-color: #fff;
}
._sidebar_tab{
  background-color: rgba(232, 151, 64, 1);
}
._sidebar_tab:hover{
  background-color: rgba(226, 201, 174, 1);
}
.active:hover{
  background-color: #fff;
}
#_main{
  height: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 1s forwards;
}
.fadeInDown{
  opacity: 1;
  animation: fadeInDown 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 640px){
  body{
    overflow-y: scroll;
  }
  #_wrapper{
    display: block;
    overflow-y: auto;
    height: auto;
  }
  #_sidebar{
    width: 100%;
    height: auto;
  }
  #_sidebar_name{
    margin-top: 0px;
    padding-top: 20px;
  }
  #_sidebar_photo{
    display:none;
  }
  #_main{
    height: auto;
    overflow-y: hidden;
  }
  #_sidebar_tabs{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  #_sidebar_tabs a{
    flex: 1 0 25%;
    display: inline-block;
  }
  ._sidebar_tab{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
@media screen and (max-width: 360px){
  #_wrapper{
    overflow-x: auto;
  }
  #_main{
    overflow-x: auto;
  }
}
@media screen and (min-width: 641px) and (max-height: 510px){
  #_sidebar_picture{
    margin-top: 20px;
    min-height: 50px;
    min-width: 50px;
    max-height: calc(190px - calc(510px - 100vh));
    max-width: calc(190px - calc(510px - 100vh));
  }
  #_sidebar{
    overflow-y: auto;
  }
}
