::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar{
  width: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.3);
  background-color:  rgba(232, 151, 64, 1);
}

body{
  font-family: 'Nunito', 'sans-serif';
  margin: 0px;
}
a{
  color: black;
  text-decoration: none;
}
p{
  margin-top: 5px;
  margin-bottom: 0px;
}
.center{
  text-align:center;
}
.right{
  text-align:right;
}
h0{
  font-size:3em;
}
hr{
  border: 1px solid rgba(232, 151, 64, 1);
  width: 75%;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#_wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
}
#_sidebar{
  width:250px;
  height: 100vh;
  background-color: rgba(232, 151, 64, 1);
  transition: opacity 0.7s ease;
  opacity: 0.7
}
#_sidebar:hover{
  opacity: 1;
}
#_sidebar div{
  text-align: center;
}
#_sidebar_picture{
  margin-top: 20%;
  margin-right: auto;
  margin-left: auto;
  background: url("https://s3.amazonaws.com/bhm-mysite/rsz_1rsz_1rsz_p1010286.jpg") 45% 35% no-repeat;
  width: 190px;
  height: 190px;
  min-height: 190px;
  border-radius: 50%;
}
#_sidebar_name{
  margin-top: 20px;
  font-size: 2em;
}
#_sidebar_links{
  margin-top: 10px;
}
#_sidebar_links i{
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
#_sidebar_tabs{
  margin-top: 20px;
}
#_sidebar_tabs a div{
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
#_sidebar_tabs .active{
  background-color: #fff;
}
._sidebar_tab{
  background-color: rgba(232, 151, 64, 1);
}
._sidebar_tab:hover{
  background-color: rgba(226, 201, 174, 1);
}
.active:hover{
  background-color: #fff;
}
#_main{
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 640px){
  #_sidebar{
    display: none;
  }
}
