.row{
  width: 100%;
  display: flex;
}
.card-holder{
  padding-top: 10px;
  margin: auto;
  margin-right: 15px;
  width: 100%;
}
.year-line{
  float: left;
  margin-left: 76px;
  margin-right: 50px;
  border-left: 2px solid #858689;
  min-height: 100px;
}
.card{
  min-width: 310px;
  max-width: 950px;
  border-radius: 5px;
  background-color: #e8ecf2;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
.card_column{
  width: calc(70% - 25px);
  float: left;
  margin-right: 25px;
}
.card_title{
  font-size: 2em;
}
.card_title div{
  display: inline-block;
  padding: 2px;
  padding-right: 5px;
  padding-left: 5px;
}
.card_image_container{
  width: 30%;
  float: right;
  text-align: center;
}
.card_image_container img{
  border-radius: 5px;
  max-width: 300px;
}
.card_tags{
  padding-left: 5px;
  margin-top: 10px;
}
.card_tag{
  margin-right: 3px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background-color: #425cf4;
  color: #fff;
}
.card_description{
  margin-top: 20px;
}
.card_description a {
  color: #425cf4;
}
.card_description_paragraph{
  text-align: justify;
}
.darkborder{
  border: 1px solid #898a8c;
}
.year{
  margin-left: 40px;
  font-size: 24px;
  color: #858689;
}
.year div{
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  border: 2px solid #858689;
  width: 70px;
  height: 70px;
}
.fa-angle-double-up{
  line-height: 70px;
}
.backtotop{
  margin-bottom: 20px;
  cursor: pointer;
}
@media only screen and (max-width : 1000px) {
  .card_image_container, .card_column {
     width: 100%;
     margin-right: 0px;
    }
  .card_image_container{
    margin-bottom: 20px;
  }
  .card_title, .card_tags{
    text-align: center;
  }
  .year-line{
    display: none;
  }
  .card-holder{
    margin-left: 15px;
    margin-right: 15px;
  }
  .year{
    margin-left: auto;
    margin-right: auto;
  }
}
